Source: shioncoin
Section: web
Maintainer: Neo Natura <support@neo-natura.com>
Priority: standard
Homepage: http://www.shcoins.com/

Package: shioncoin
Architecture: amd64
Description: SHC Virtual Currency Server compatible with libshare suite.
